@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Fredoka:wght@500&family=Poppins:wght@400;700&family=Rokkitt&family=Sen:wght@400;800&display=swap');

$Poppins: 'Poppins', sans-serif;
$Rokkit: 'Rokkitt', serif;
$Sen: 'Sen', sans-serif;
$Cutive: 'Cutive', serif;
$Fredoka: 'Fredoka', sans-serif;

//colors
$dark: black;
$light: #fff;
$primary: #ff6c00;
$secondary: #ffba00;

//spacing
$spacing-md: 16px;
$spacing-lg: 32px;

//border radius
$borderRadius: 12px;

//header height
$headerHeight: 55px;

//Button Variables
$plex: 'Source Code Pro', monospace;
$background: #fff;
$shadow: 0 4px 12px -2px rgba(#6b75a1, 0.16);
$c-darkGray: #4a4a4e;
$ease: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

//mixins
@mixin breakpoint($point) {
  @if $point== sm {
    //410px
    @media (min-width: 410px) {
      @content;
    }
  }
}

@mixin breakpoint($point) {
  @if $point== md {
    //768px
    @media (min-width: 48em) {
      @content;
    }
  }
}
