@import './../styles/variables.scss';

.header {
  background: linear-gradient(25deg, $secondary, $primary);
  width: 100%;
  height: $headerHeight;
  padding: 0 1.5rem;
  @include breakpoint(md) {
    padding: 1.5rem;
  }
  transition: 0.3s ease all;
  &__content {
    overflow: hidden;
    color: $light;
    margin: 0 auto;
    max-width: 1920px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;

    &__toggle {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 2rem;
      transition: 0.3s ease all;
      position: relative;
      z-index: inherit;

      &:hover {
        color: $primary;
      }

      @include breakpoint(md) {
        display: none;
      }
    }

    &__nav {
      top: 0;
      left: -100%;
      bottom: 0;
      width: 100%;
      height: 100vh;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: rgba($dark, 0.9);
      backdrop-filter: blur(2px);
      transform: translate(0);
      transition: 0.3s ease transform;

      @include breakpoint(md) {
        transform: none;
        flex-direction: row;
        background: transparent;
        width: auto;
        height: 100%;
        position: static;
      }

      ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        margin-bottom: $spacing-lg;
        @include breakpoint(md) {
          flex-direction: row;
          align-items: center;
          margin-bottom: 0;
          margin-right: calc(0.5rem + #{$spacing-md});
        }

        li {
          &:not(:last-child) {
            margin-bottom: $spacing-lg;
            @include breakpoint(md) {
              margin-bottom: 0;
              margin-right: $spacing-md;
            }
          }
          a {
            text-decoration: none;
            text-transform: uppercase;
            color: inherit;
            padding: 0.75rem 0.75rem;
            border-radius: $borderRadius;
            transition: 0.3s ease all;

            &:hover {
              background: rgba($light, 0.1);
            }
          }
        }
      }
      &.isMenu {
        transform: translate(100%);
      }
    }

    &__logo {
      font-size: 1.3rem;
      font-weight: bold;
      text-decoration: none;
      font-family: $Fredoka;
      color: $light;
    }

    &__icons {
      ul {
        list-style: none;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        @include breakpoint(md) {
          align-items: center;
          margin-bottom: 0;
          margin-right: calc(0.5rem + #{$spacing-md});
        }

        li {
          &:not(:last-child) {
            margin-bottom: 0;
            @include breakpoint(md) {
              margin-right: 6px;
            }
          }
          a {
            text-decoration: none;
            color: inherit;
            transition: 0.3s ease all;
            font-size: 1.3rem;
            margin: 2px;

            &:hover {
              background: rgba($light, 0.1);
            }
          }
          a[id='like'],
          a[id='account'] {
            display: none;
            @include breakpoint(md) {
              display: block;
              transition: 0.3 ease all;
            }
          }
        }
      }
    }
  }
}
div[class='search__trasparent'] {
  opacity: 0;
  transition: 0.5s ease all;
}

div[class='search__visible'] {
  opacity: 1;
  transition: 0.5s ease all;
}
